.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sideBar {
  min-height: 800px;
}

.postCard {
  margin: 20px 50px;
  width: 30rem;
}

.hashtag {
  margin: 0px 3px;
}

.form {
  margin: 50px 50px;
  width: 80%;
}
.headingTwo {
  margin-top: 100px;
}

.buttonTwo {
  margin: 25px;
}